<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Заглавие</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% load static %}
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">
 
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">

  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style.css'%}" rel="stylesheet">

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">КУРСАЧ</a></h1>
      <i class="fa fa-times-circle menu-close"></i>
      <a href="#home" class="smoothscroll">Главная</a>
      <a href="#about" class="smoothscroll">Эбаут</a>
      <a href="#portfolio" class="smoothscroll">Красота</a>
      <a href="#contact" class="smoothscroll">Контакты</a>
      <a href="#" class="smoothscroll">Регистрейшн</a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
    </div>

   
    <div id="menuToggle"><i class="fa fa-bars"></i></div>
  </nav>

  
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
        <img src="{%static 'img/logo.png' %}">
      </div>
      <br>
      <div class="row">
        <h1>ЭТО САЙТ ДАШУЛИКА</h1>
        <br>
        <h3>Hello, I'm Даша. I love десигн und ich spache Deutsch.</h3>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div>
   
  </div>
 
  <section id="about" name="about"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>Немножечко инфы</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

        
        <div class="col-lg-6 col-lg-offset-3">
          <p>По ходу написания моей курсовой работы, я поняла три вещи:</p>
          <p> HTML изи, фронт вообще не сложно делать</p>
          <p> никогда не пишите курсач в последние дни</p>
          <p> ихихихихихихи</p>
          <p><a href="{% url 'register'%}" class="btn btn-warning">НАДЕЮСЬ НА АШКУ, ВЕДЬ У МЕНЯ ЕСТЬ РЕГИСТРАЦИЯ</a></p>
        </div>
      </div>
    </div>
   
  </div>
  
  <section id="portfolio" name="portfolio"></section>
  <div id="f">
    <div class="container">
      <div class="row centered">
        <h3>Немножечко меня</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

        <div class="col-lg-6 col-lg-offset-3">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
              <div class="item active centered">
                <img class="img-responsive" src="{% static 'img/c1.png' %}" alt="" style="height: 400px;width: auto; text-align: center">
              </div>
              <div class="item centered">
                <img class="img-responsive" src="{% static 'img/c2.png' %}" alt="" style="height: 400px;width: auto; text-align: center">
              </div>
              <div class="item centered">
                <img class="img-responsive" src="{% static 'img/c3.png' %}" alt="" style="height: 400px;width: auto; text-align: center">
              </div>
            </div>
            <br>
            <br>
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
  <section id="contact" name="contact"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>Пообщаемся?</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

        <div class="col-lg-6 col-lg-offset-3">
          <p>Улица Пушкина<br/>Дом Калатушника<br/>Квартира Вампира</p>
          <p>dariiapopova99@gmail.com</p>
          <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>


      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Дария Андреевна</strong>. Все права нарушены
      </p>
      
    </div>
  </div>

  
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
